body {
    padding-top: 4.9rem !important;
    background-color: #fafbfd;
    font-family: "Exo 2", sans-serif;
}

header {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    height: 5rem !important;
    z-index: 4;
}

main .container {
    padding-top: 0;
    
}

.homeGeneral.container {
    height: 100% !important;
}

.row-slider {
    height: 100vh;
}

main > .container {
    padding: 70px 15px 20px;
}

header {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    height: 5rem !important;
}

.navbar{
    height: 80px;
}

/*Estilos highcharts*/
.highcharts-background {
    padding: 170px;
    overflow-x: hidden;
}

rect.highcharts-background {
    fill: #fafbfd;
}

.highcharts-button-box {
    fill: #fafbfd;
}

/*Estilo para los nombres de los días de la semana del deplegable (calendario)*/
.ui-datepicker th {
    color: #28a745; 
}

/*Estilo para los números de los días del deplegable (calendario)*/
.ui-datepicker td a {
    color: #212529; 
    background: red;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: #f2f2fa;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.help-block{
    color: red;
}

/*body{
    font-family: "Exo 2", sans-serif; 
}*/

.tituloTablas{
    font-family: "IBM Plex Sans", sans-serif;
}

/*Footer*/
.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 70px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

body > footer > div > p {
    margin-top: 8px !important;
    margin-right: 58px !important;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,

.container {   
    padding: 0;
    height: 80%;
}

.container-h {
    height: 80%;
}

.navbar-brand:hover {
    color: rgba(0,255,0,0.6);
}

.nav-item{
    padding: 0 6.4px 0 6.4px;
}

.nav-link{
    color: #f5f5f5;
}

.nav-link:hover{
    color: rgba(0,255,0,0.6);
}

main {
    min-height: 70px;
}

.navbar-brand{
    color: #f5f5f5;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    background-color: #27292b;
    padding: 12px 60px;
}

.navbar .container {
    max-width: unset;
}

.flex-shrink-0 {
    min-height: 101.2vh;
}

.container {
    height: 100%;
    padding-bottom: 0;
    max-width: unset;
}

.textoHome{
    width: 60%;
    text-align: justify;
    margin: 0 auto;
}

.carousel{
    max-width: unset;
}

main .container{
    padding-top: 0;
}

.container .coches-index{
    padding-left: 15px;
    padding-right: 15px;
}

.alquilan-index, .atienden-index, .clientes-index, .empleados-index, 
.mantenimientos-index, .seguros-index, .telefonos-index, .coches-index{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.alinear{
    width: 45%;
    margin: 0 auto;
    padding-top: 30px;
}

thead tr th a{
    color: #28a745;
}

thead tr th a:hover{
    color: #218838;
}

tbody tr td a{
    color: #28a745;
}

tbody tr td a:hover{
    color: #218838;
}

.mantenimientos-index .grid-view .table tbody tr td:nth-child(6){
    width: 90px;
}

.clientes-index .grid-view .table tbody tr td:nth-child(6){
    width: 90px;
}

.logotipo{
    width: 125px;
}

/*Quitar "publicidad" de highcharts*/
.highcharts-credits {
    display: none;
}

/*Cambiar color a la paginación*/
.page-link {
    color: #28a745;
}

.alinear-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;
    height: 45px;;
}

.alquilan-view .contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 14px;
}

.contenedor-estadisticas {
    margin-right: 0 !important;
    margin-top: 65px !important;
    justify-content: center !important;
}

/*Color cabecera de registro de atencion*/
#w1 > table > thead > tr > th:nth-child(3), #w1 > table > thead > tr > th:nth-child(1) {
    color: #28a745;
}

/*Color cabecera de contratos*/
#w0 > table > thead > tr > th:nth-child(1) {
    color: #28a745;
}

/*Color cabecera de seguros*/
#w1 > table > thead > tr > th:nth-child(5), #w1 > table > thead > tr > th:nth-child(2){
    color: #28a745;
}


.contenedor-registro {
    margin: 0 !important;
}

/*Posición del buscador en el registro de atención*/
.contenedor-registro .contenedor-buscador {
    position: relative !important;
    left: 20px !important;
}
#w0 > div > div.col-md-8.contenedor-buscador > div > div{
    width: 237px;
}

/*Botón de exportar contratos en un excel*/
.btn-exportar {
    border: 1.8px solid #28a745;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin-left: 32px;
}

.btn-exportar img {
    width: 20px;
    margin-left: 1px;
    margin-bottom: 7px;
}

/*Botón de nuevo registro*/
.btn-nuevo {
    border: 1.8px solid #28a745;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    width: 45px;
    height: 42px;
    margin-left: 40px;
}

.btn-nuevo img {
    width: 26px;
    margin-left: 3.6px;
    margin-top: 3px;
}

.contenedor-contrato {
  display: flex; 
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

/*Dar estilo al boton del buscador*/
.btn-buscador {
    background-color: #28a745 !important;
}

/*Editar mensaje de error del buscador de empleados*/
#w0 > div > div.col-md-8 > div > div {
    width: 295px;
}

/*Quitar botones del carrusel*/
.carousel-control-prev, .carousel-control-next { 
    display: none;
}

.carousel-indicators {
    display: none;
}

/*Poner fondo negro sobre el carrusel de la home*/
.overlay {
    width: 100%;
    height: 93.25%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    z-index: 3;
}

.homeGeneral {
    position: relative;
    height: 100%;
    max-width: unset;
}

/*Posición de la tarjeta*/
.card {
    bottom: 110px;
    z-index: 3;
    max-width: 210px;
    border-radius: 8px;
    /*background-color: rgba(250, 251, 253, 0.6) !important;*/
/*   background-color: rgba(0, 0, 0, 0.5) !important;*/
    background-color: rgba(39, 41, 43, 0.8) !important;
}

.carousel-overlay {
    position: relative;
}

/*Centrar imagen de la tarjeta de clientes*/
.img-cliente {
    width: 35% !important;
    margin: 12px auto !important;
}

/*Alinear tarjetas*/
.contenedor-tarjetas {
    width: 540px;
    height: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: -195px auto;
}

.homeGeneral.container {
    height: 100% !important;
}

.row-slider {
    height: 100vh;
}

.contenedor-abajo {
    margin-top: 220px;
}

/*Posicionamiento de la sección del presupuesto*/
.form-inline-group-container {
    display: flex;
    justify-content: center; /*Centra el grupo de campos en el contenedor*/
    width: 100%; 
    margin-bottom: 20px;
}

.form-inline-group {
    display: flex;
    align-items: flex-start; /*Alinea los elementos verticalmente al inicio*/
}

.form-group-inline {
    margin-right: 21px; 
    margin-bottom: 10px; 
    position: relative; /*Posiciona los mensajes de error adecuadamente*/
}

.form-group-inline:last-child {
    margin-right: 0; 
}

/*Mensaje de error*/
.form-group-inline .help-block {
    position: absolute; 
    bottom: -20px; 
    left: 0;
    width: 100%; 
    color: red;
}

.text-center {
    text-align: center;
}

.form-group.text-center {
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
}

.titulo-presupuesto {
    text-align: center; 
    margin-bottom: 45px; 
    font-size: 3rem;
}

.btn-presupuesto {
    padding:8px 25px !important;
}

.btn-secondary {
    border-color: #28a745 !important;
}





























